# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.exe
*.dll
# Other system
*.directory
# PROJECT (executable)
doc/doxy_html/
doc/latex/
doc/qthelp/
arnlib_local.pri

# Qt-es
arnlib_conf.pri
*.pro.user
*.pro.user.*
*.log
Makefile
Makefile.*
*-build-*
*/build/
android/
tmp/
build/
.qmake.stash

# Debug and Release (created under Windows, not Linux)
object_script.*
Debug/
Release/
